server:
  port: 8002
#  http://localhost:8002/actuator/info
management:
  endpoints:
    web:
      exposure:
        include: "*"
spring:
  application:
    name: myApp1
eureka:
  client:
    healthcheck:
      enabled: true
    service-url:
      defaultZone: http://118.24.241.25:8761/eureka
  instance:
    lease-expiration-duration-in-seconds: 90
    lease-renewal-interval-in-seconds: 30

feign:
  hystrix:
    enabled: true

logging:
  level:
    com.netflix: DEBUG